* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #25282a;
}

/*-------------------------------------------------Slider----------------------------------------------------------*/

.slider{
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    overflow: hidden;
}

.slider__images {
    width: 70vw;
    height: 50vh;
}

.slider__container {
    color: #e4f0f3;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider__text {

}

@media screen and (max-width: 768px) {
    .slider__container {
        flex-direction: column;
        gap: 1rem;
    }

    .slider__text {
        text-align: center;
        order: 1;
    }

    .navigation {
        justify-content: center;
    }
}

/*-------------------------------------------------Slide----------------------------------------------------------*/

.slide {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: wheat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.slide_one {
    background-image: url('../images/BugsBunnyCommunist.jpg');
}

/*-------------------------------------------------Navigation----------------------------------------------------------*/

.navigation {
    display: flex;
    gap: 0 0.8rem;
    justify-self: end;
}

.navigation__element {
    width: 1rem;
    height: 1rem;
    background-color: #7faae8;
    display: inline-block;
    border-radius: 50%;
}